__pycache__
result/*.jpg
result/english/*
result/german/*
result/extra/*
english_voc_images/*
!english_voc_images/context-1-0.jpg
math_images/*
!math_images/mathe_1.jpg
error/*
output/*.apkg
.idea
.DS_Store